@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/productSearch.css" />
</head>
    <body>
        <h1>Welcome to Mercadia</h1>
        <span>This is my text</span>
        <button onclick="buttonClick()">Click me</button>
        
        <script>
            function buttonClick() {
                alert("Hey");
            }
        </script>
    </body>
</html>