@model GoshenJimenez.Mercadia3.Web.Areas.Manage.ViewModels.Products.CreateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form action="/manage/products/create" method="post" class="form">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="name" asp-for="Name" name="Name" placeholder="Enter product name">
    </div>
    <div class="form-group">
        <label for="TagLine">TagLine</label>
        <input type="text" class="form-control" id="tagLine" asp-for="TagLine" name="TagLine" placeholder="Enter product brief description">
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" id="description" name="Description" placeholder="Enter product full description">
        </textarea>
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" class="form-control" id="price" asp-for="Price" name="Price" placeholder="Enter product price">
    </div>
    <input type="hidden" name="CategoryId" value="02b92adc-c0dc-4a87-9aa8-df5d90cf2a01" />
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="~/manage/products" class="btn btn-danger">Cancel</a>
</form>